<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Melon</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>

<form id="melon-form">
    First name:<br>
    <input type="text" name="Phone number" id="phone_n">
    <br>
    <br><br>
    <input type="submit" value="Submit">
</form>

<script>
    $('#melon-form').on('submit', function () {
        $.ajax({
            url: "api/phone_number/",
            method: "POST",
            contentType: "application/json",
            data: {
                "phone_n": $('#phone_n').value
            },
            success: function (result, status, xhr) {
                console.log("bla +")
            },
            error: function (xhr, status, error) {
                alert(xhr +"bla"+ status +""+ error);
                console.log("bla -")
            }
        });
        return false;
    });
</script>

</body>
</html>